# Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.

You are required to do the following in a new python notebook:

Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)

In [1]:
import numpy as np
import pandas as pd

In [2]:
la_df = pd.read_csv("Laliga.csv")
la_df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [3]:
la_df.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [4]:
la_df.replace("-", 0, inplace = True)
la_df.describe()

             Pos    Seasons  BestPosition
count  61.000000  61.000000     61.000000
mean   31.000000  24.000000      7.081967
std    17.752934  26.827225      5.276663
min     1.000000   1.000000      1.000000
25%    16.000000   4.000000      3.000000
50%    31.000000  12.000000      6.000000
75%    46.000000  38.000000     10.000000
max    61.000000  86.000000     20.000000

In [5]:
la_df = la_df.astype({'Points':'int64','GamesPlayed':'int64','GamesWon':'int64','GamesDrawn':'int64','GamesLost':'int64','GoalsFor':'int64','GoalsAgainst':'int64','Champion':'int64','Runner-up':'int64','Third':'int64','Fourth':'int64','Fifth':'int64','Sixth':'int64','T':'int64'})
#la_df.describe(include=np.object).transpose()
la_df.dtypes
la_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Pos,61.0,31.000000,17.752934,1.0,16.0,31.0,46.0,61.0
Seasons,61.0,24.000000,26.827225,1.0,4.0,12.0,38.0,86.0
Points,61.0,901.426230,1134.899121,0.0,96.0,375.0,1351.0,4385.0
GamesPlayed,61.0,796.819672,876.282765,0.0,114.0,423.0,1318.0,2762.0
GamesWon,61.0,303.967213,406.991030,0.0,34.0,123.0,426.0,1647.0
GamesDrawn,61.0,188.934426,201.799477,0.0,24.0,95.0,330.0,633.0
GamesLost,61.0,303.754098,294.708594,0.0,62.0,197.0,563.0,1070.0
GoalsFor,61.0,1140.344262,1506.740211,0.0,153.0,430.0,1642.0,5947.0
GoalsAgainst,61.0,1140.229508,1163.710766,0.0,221.0,632.0,1951.0,3889.0
Champion,61.0,1.426230,5.472535,0.0,0.0,0.0,0.0,33.0
Runner-up,61.0,1.409836,4.540107,0.0,0.0,0.0,0.0,25.0
Third,61.0,1.409836,3.247445,0.0,0.0,0.0,1.0,16.0
Fourth,61.0,1.409836,2.746980,0.0,0.0,0.0,2.0,12.0
Fifth,61.0,1.409836,2.505840,0.0,0.0,0.0,2.0,12.0
Sixth,61.0,1.409836,2.231420,0.0,0.0,0.0,2.0,10.0
T,61.0,8.475410,18.100282,0.0,0.0,1.0,6.0,83.0
BestPosition,61.0,7.081967,5.276663,1.0,3.0,6.0,10.0,20.0

In [6]:
la_df["Debut"]= la_df["Debut"].str.split("-", n = 1, expand = True) 
print(la_df)

    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
0     1          Real Madrid       86    4385         2762      1647
1     2            Barcelona       86    4262         2762      1581
2     3      Atletico Madrid       80    3442         2614      1241
3     4             Valencia       82    3386         2664      1187
4     5      Athletic Bilbao       86    3368         2762      1209
5     6              Sevilla       73    2819         2408       990
6     7             Espanyol       82    2792         2626       948
7     8        Real Sociedad       70    2573         2302       864
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
13   14     Racing Santander       44    1416         1428       453
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
20   21           Villarreal       17     970          646       266
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
24   25               Getafe       12     553          456       147
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
28   29               Alaves       12     421          380       125
29   30              Levante       11     416          402       113
..  ...                  ...      ...     ...          ...       ...
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
33   34             Logrones        9     293          346        96
34   35            Castellon       11     285          334       103
35   36             Albacete        7     277          270        76
36   37              Almeria        6     242          228        62
37   38              Cordoba        9     230          282        82
38   39           Compostela        4     190          160        52
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
42   43             Numancia        4     148          152        37
43   44                Eibar        3     132          114        35
44   45               Arenas        7     107          130        43
45   46          Real Burgos        3      96          114        26
46   47            Gimnastic        4      91          116        34
47   48          Extremadura        2      83           80        20
48   49               Merida        2      81           80        19
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
51   52           Real Union        4      56           72        21
52   53           AD Almeria        2      52           68        17
53   54               Europa        3      42           54        18
54   55               Lleida        2      40           68        13
55   56              Leganes        1      35           38         8
56   57                Xerez        1      34           38         8
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5
60   61               Girona        1       0            0         0

    GamesDrawn  GamesLost  GoalsFor  GoalsAgainst  Champion  Runner-up  Third  \
0          552        563      5947          3140        33         23      8
1          573        608      5900          3114        25         25     12
2          598        775      4534          3309        10          8     16
3          616        861      4398          3469         6          6     10
4          633        920      4631          3700         8          7     10
5          531        887      3680          3373         1          4      4
6          608       1070      3609          3889         0          0      4
7          577        861      3228          3230         2          3      2
8          522        766      2683          2847         0          1      4
9          440        682      2159          2492         1          0      2
10         392        575      2052          2188         1          5      4
11         389        723      2278          2624         0          0      0
12         384        619      1767          2180         0          0      0
13         336        639      1843          2368         0          1      1
14         358        629      1753          2152         0          1      1
15         327        565      1500          1834         0          0      0
16         330        535      1421          1763         0          0      0
17         292        492      1642          1951         0          0      3
18         256        399      1182          1371         0          0      2
19         242        487      1347          1746         0          1      1
20         172        208       892           789         0          1      1
21         175        349       819          1157         0          0      0
22         148        305       760          1088         0          0      0
23         180        295       750          1022         0          0      0
24         112        197       520           633         0          0      0
25         149        295       716          1050         0          0      0
26         128        211       619           744         0          0      0
27         143        298       607           992         0          0      0
28          81        174       458           623         0          0      0
29          95        194       430           632         0          0      0
..         ...        ...       ...           ...       ...        ...    ...
31          95        202       492           720         0          0      0
32         127        217       393           662         0          0      0
33          92        158       291           489         0          0      0
34          79        152       419           588         0          0      0
35          76        118       320           410         0          0      0
36          56        110       244           366         0          0      0
37          63        137       285           430         0          0      0
38          45         63       199           241         0          0      0
39          46         90       202           296         0          0      0
40          50         95       216           310         0          0      0
41          44         83       165           221         0          0      0
42          37         78       155           253         0          0      0
43          27         52       139           167         0          0      0
44          21         66       227           308         0          0      1
45          44         44       101           139         0          0      0
46          16         66       181           295         0          0      0
47          23         37        62           117         0          0      0
48          24         37        70           115         0          0      0
49          16         62       145           252         0          0      0
50          13         48       121           183         0          0      0
51          14         37       153           184         0          0      0
52          18         33        71           116         0          0      0
53           6         30        97           131         0          0      0
54          14         41        70           182         0          0      0
55          11         19        36            55         0          0      0
56          10         20        38            66         0          0      0
57           8         15        37            57         0          0      0
58           5         18        51            85         0          0      0
59           4         21        34            65         0          0      0
60           0          0         0             0         0          0      0

    Fourth  Fifth  Sixth   T Debut Since/LastApp  BestPosition
0        8      3      4  79  1929          1929             1
1       12      4      6  83  1929          1929             1
2        9      7      6  56  1929       2002-03             1
3       11     10      7  50  1931       1987-88             1
4        5      8     10  49  1929          1929             1
5        5     12      6  32  1934       2001-02             1
6        5      2      5  16  1929       1994-95             3
7        5      4      3  19  1929       2010-11             1
8        5      4      4  18  1939       2012-13             2
9        3      4      4  14  1932       2015-16             1
10       1      0      1  12  1941       2014-15             1
11       2      4      5  11  1939       2012-13             4
12       1      1      1   3  1948       2013-14             4
13       2      0      1   5  1929       2011-12             2
14       2      2      1   7  1944       2015-16             2
15       2      2      2   6  1935       2016-17             4
16       1      0      1   2  1949       2008-09             4
17       2      2      4  11  1933       2000-01             3
18       0      2      1   5  1960       2012-13             3
19       1      1      1   5  1951       2015-16             2
20       2      3      2   9  1998       2013-14             2
21       0      0      2   2  1941       2016-17             6
22       0      0      0   0  1977       2015-16             8
23       0      1      1   2  1959       2014-15             5
24       0      0      1   1  2004       2015-16             6
25       0      1      4   5  1935       2010-11             5
26       0      2      0   2  1961       2009-10             5
27       0      0      0   0  1940       2007-08            11
28       0      0      1   1  1930       2016-17             6
29       0      0      1   1  1963       2015-16             6
..     ...    ...    ...  ..   ...           ...           ...
31       1      1      0   2  1943       1987-88             4
32       0      0      0   0  1977       2005-06            12
33       0      0      0   0  1987       1996-97             7
34       1      2      0   3  1941       1990-91             4
35       0      0      0   0  1991       2004-05             7
36       0      0      0   0  2007       2014-15             8
37       0      1      0   1  1962       2014-15             5
38       0      0      0   0  1994       1997-98            10
39       0      0      0   0  1978       2008-09             8
40       0      0      0   0  1971       1979-80            12
41       0      0      0   0  1963       1969-70             7
42       0      0      0   0  1999       2008-09            17
43       0      0      0   0  2014       2014-15            10
44       0      3      0   4  1929       1934-35             3
45       0      0      0   0  1990       1992-93             9
46       0      0      0   0  1947       2006-07             7
47       0      0      0   0  1996       1998-99            17
48       0      0      0   0  1995       1997-98            19
49       0      0      0   0  1945       1950-51            10
50       0      0      0   0  1953       1957-58            14
51       0      0      1   1  1929       1931-32             6
52       0      0      0   0  1979       1980-81            10
53       0      0      0   0  1929       1930-31             8
54       0      0      0   0  1950       1993-94            16
55       0      0      0   0  2016       2016-17            17
56       0      0      0   0  2009       2009-10            20
57       0      0      0   0  1956       1956-57            16
58       0      0      0   0  1951       1951-52            16
59       0      0      0   0  1955       1955-56            15
60       0      0      0   0  2017       2017-18             9

[61 rows x 20 columns]

In [9]:
la_df.dtypes

Pos               int64
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner-up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
T                 int64
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [10]:
la_df['Debut'] =  pd.to_datetime(la_df['Debut'],format='%Y')

In [11]:
la_df.dtypes

Pos                       int64
Team                     object
Seasons                   int64
Points                    int64
GamesPlayed               int64
GamesWon                  int64
GamesDrawn                int64
GamesLost                 int64
GoalsFor                  int64
GoalsAgainst              int64
Champion                  int64
Runner-up                 int64
Third                     int64
Fourth                    int64
Fifth                     int64
Sixth                     int64
T                         int64
Debut            datetime64[ns]
Since/LastApp            object
BestPosition              int64
dtype: object

Print all the teams which have started playing between 1930-1980. (5 points)

In [20]:
mask = (la_df['Debut'] > '1930') & (la_df['Debut'] <= '1980')
print(la_df.loc[mask])

    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
3     4             Valencia       82    3386         2664      1187
5     6              Sevilla       73    2819         2408       990
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
29   30              Levante       11     416          402       113
30   31            Salamanca       12     375          423       123
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
34   35            Castellon       11     285          334       103
37   38              Cordoba        9     230          282        82
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
46   47            Gimnastic        4      91          116        34
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
52   53           AD Almeria        2      52           68        17
54   55               Lleida        2      40           68        13
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5

    GamesDrawn  GamesLost  GoalsFor  GoalsAgainst  Champion  Runner-up  Third  \
3          616        861      4398          3469         6          6     10
5          531        887      3680          3373         1          4      4
8          522        766      2683          2847         0          1      4
9          440        682      2159          2492         1          0      2
10         392        575      2052          2188         1          5      4
11         389        723      2278          2624         0          0      0
12         384        619      1767          2180         0          0      0
14         358        629      1753          2152         0          1      1
15         327        565      1500          1834         0          0      0
16         330        535      1421          1763         0          0      0
17         292        492      1642          1951         0          0      3
18         256        399      1182          1371         0          0      2
19         242        487      1347          1746         0          1      1
21         175        349       819          1157         0          0      0
22         148        305       760          1088         0          0      0
23         180        295       750          1022         0          0      0
25         149        295       716          1050         0          0      0
26         128        211       619           744         0          0      0
27         143        298       607           992         0          0      0
29          95        194       430           632         0          0      0
30         102        198       422           581         0          0      0
31          95        202       492           720         0          0      0
32         127        217       393           662         0          0      0
34          79        152       419           588         0          0      0
37          63        137       285           430         0          0      0
39          46         90       202           296         0          0      0
40          50         95       216           310         0          0      0
41          44         83       165           221         0          0      0
46          16         66       181           295         0          0      0
49          16         62       145           252         0          0      0
50          13         48       121           183         0          0      0
52          18         33        71           116         0          0      0
54          14         41        70           182         0          0      0
57           8         15        37            57         0          0      0
58           5         18        51            85         0          0      0
59           4         21        34            65         0          0      0

    Fourth  Fifth  Sixth   T      Debut Since/LastApp  BestPosition
3       11     10      7  50 1931-01-01       1987-88             1
5        5     12      6  32 1934-01-01       2001-02             1
8        5      4      4  18 1939-01-01       2012-13             2
9        3      4      4  14 1932-01-01       2015-16             1
10       1      0      1  12 1941-01-01       2014-15             1
11       2      4      5  11 1939-01-01       2012-13             4
12       1      1      1   3 1948-01-01       2013-14             4
14       2      2      1   7 1944-01-01       2015-16             2
15       2      2      2   6 1935-01-01       2016-17             4
16       1      0      1   2 1949-01-01       2008-09             4
17       2      2      4  11 1933-01-01       2000-01             3
18       0      2      1   5 1960-01-01       2012-13             3
19       1      1      1   5 1951-01-01       2015-16             2
21       0      0      2   2 1941-01-01       2016-17             6
22       0      0      0   0 1977-01-01       2015-16             8
23       0      1      1   2 1959-01-01       2014-15             5
25       0      1      4   5 1935-01-01       2010-11             5
26       0      2      0   2 1961-01-01       2009-10             5
27       0      0      0   0 1940-01-01       2007-08            11
29       0      0      1   1 1963-01-01       2015-16             6
30       0      0      0   0 1974-01-01       1998-99             7
31       1      1      0   2 1943-01-01       1987-88             4
32       0      0      0   0 1977-01-01       2005-06            12
34       1      2      0   3 1941-01-01       1990-91             4
37       0      1      0   1 1962-01-01       2014-15             5
39       0      0      0   0 1978-01-01       2008-09             8
40       0      0      0   0 1971-01-01       1979-80            12
41       0      0      0   0 1963-01-01       1969-70             7
46       0      0      0   0 1947-01-01       2006-07             7
49       0      0      0   0 1945-01-01       1950-51            10
50       0      0      0   0 1953-01-01       1957-58            14
52       0      0      0   0 1979-01-01       1980-81            10
54       0      0      0   0 1950-01-01       1993-94            16
57       0      0      0   0 1956-01-01       1956-57            16
58       0      0      0   0 1951-01-01       1951-52            16
59       0      0      0   0 1955-01-01       1955-56            15

Print the list of teams which came Top 5 in terms of points (2.5 points)

In [22]:
la_df['Points_Rank'] = la_df['Points'].rank(ascending = 0) 
la_df.head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Points_Rank
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929-01-01,1929,1,1.0
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929-01-01,1929,1,2.0
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929-01-01,2002-03,1,3.0
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-01-01,1987-88,1,4.0
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929-01-01,1929,1,5.0

Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
Goal_diff_count = GoalsFor - GoalsAgainst

In [32]:
def goal_diff_count(goals_for,goals_against):
    goal_diff_count = goals_for -goals_against
    return goal_diff_count

la_df['GoalDiffCount'] = goal_diff_count(la_df['GoalsFor'],la_df['GoalsAgainst'])
print ("Minimum Goal Difference \n",la_df[la_df.GoalDiffCount==la_df.GoalDiffCount.min()])
print ("Maximum Goal Difference \n",la_df[la_df.GoalDiffCount==la_df.GoalDiffCount.max()])

Minimum Goal Difference
     Pos              Team  Seasons  Points  GamesPlayed  GamesWon  GamesDrawn  \
13   14  Racing Santander       44    1416         1428       453         336

    GamesLost  GoalsFor  GoalsAgainst  ...  Third  Fourth  Fifth  Sixth  T  \
13        639      1843          2368  ...      1       2      0      1  5

        Debut  Since/LastApp BestPosition Points_Rank  GoalDiffCount
13 1929-01-01        2011-12            2        14.0           -525

[1 rows x 22 columns]
Maximum Goal Difference
    Pos         Team  Seasons  Points  GamesPlayed  GamesWon  GamesDrawn  \
0    1  Real Madrid       86    4385         2762      1647         552

   GamesLost  GoalsFor  GoalsAgainst  ...  Third  Fourth  Fifth  Sixth   T  \
0        563      5947          3140  ...      8       8      3      4  79

       Debut  Since/LastApp BestPosition Points_Rank  GoalDiffCount
0 1929-01-01           1929            1         1.0           2807

[1 rows x 22 columns]

Create a new column with name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

In [35]:
la_df['WinningPercent'] = (la_df['GamesWon']/la_df['GamesPlayed'])*100
la_df['WinningPercent'].fillna(0, inplace=True)
print(la_df)

    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
0     1          Real Madrid       86    4385         2762      1647
1     2            Barcelona       86    4262         2762      1581
2     3      Atletico Madrid       80    3442         2614      1241
3     4             Valencia       82    3386         2664      1187
4     5      Athletic Bilbao       86    3368         2762      1209
5     6              Sevilla       73    2819         2408       990
6     7             Espanyol       82    2792         2626       948
7     8        Real Sociedad       70    2573         2302       864
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
13   14     Racing Santander       44    1416         1428       453
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
20   21           Villarreal       17     970          646       266
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
24   25               Getafe       12     553          456       147
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
28   29               Alaves       12     421          380       125
29   30              Levante       11     416          402       113
..  ...                  ...      ...     ...          ...       ...
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
33   34             Logrones        9     293          346        96
34   35            Castellon       11     285          334       103
35   36             Albacete        7     277          270        76
36   37              Almeria        6     242          228        62
37   38              Cordoba        9     230          282        82
38   39           Compostela        4     190          160        52
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
42   43             Numancia        4     148          152        37
43   44                Eibar        3     132          114        35
44   45               Arenas        7     107          130        43
45   46          Real Burgos        3      96          114        26
46   47            Gimnastic        4      91          116        34
47   48          Extremadura        2      83           80        20
48   49               Merida        2      81           80        19
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
51   52           Real Union        4      56           72        21
52   53           AD Almeria        2      52           68        17
53   54               Europa        3      42           54        18
54   55               Lleida        2      40           68        13
55   56              Leganes        1      35           38         8
56   57                Xerez        1      34           38         8
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5
60   61               Girona        1       0            0         0

    GamesDrawn  GamesLost  GoalsFor  GoalsAgainst  ...  Fourth  Fifth  Sixth  \
0          552        563      5947          3140  ...       8      3      4
1          573        608      5900          3114  ...      12      4      6
2          598        775      4534          3309  ...       9      7      6
3          616        861      4398          3469  ...      11     10      7
4          633        920      4631          3700  ...       5      8     10
5          531        887      3680          3373  ...       5     12      6
6          608       1070      3609          3889  ...       5      2      5
7          577        861      3228          3230  ...       5      4      3
8          522        766      2683          2847  ...       5      4      4
9          440        682      2159          2492  ...       3      4      4
10         392        575      2052          2188  ...       1      0      1
11         389        723      2278          2624  ...       2      4      5
12         384        619      1767          2180  ...       1      1      1
13         336        639      1843          2368  ...       2      0      1
14         358        629      1753          2152  ...       2      2      1
15         327        565      1500          1834  ...       2      2      2
16         330        535      1421          1763  ...       1      0      1
17         292        492      1642          1951  ...       2      2      4
18         256        399      1182          1371  ...       0      2      1
19         242        487      1347          1746  ...       1      1      1
20         172        208       892           789  ...       2      3      2
21         175        349       819          1157  ...       0      0      2
22         148        305       760          1088  ...       0      0      0
23         180        295       750          1022  ...       0      1      1
24         112        197       520           633  ...       0      0      1
25         149        295       716          1050  ...       0      1      4
26         128        211       619           744  ...       0      2      0
27         143        298       607           992  ...       0      0      0
28          81        174       458           623  ...       0      0      1
29          95        194       430           632  ...       0      0      1
..         ...        ...       ...           ...  ...     ...    ...    ...
31          95        202       492           720  ...       1      1      0
32         127        217       393           662  ...       0      0      0
33          92        158       291           489  ...       0      0      0
34          79        152       419           588  ...       1      2      0
35          76        118       320           410  ...       0      0      0
36          56        110       244           366  ...       0      0      0
37          63        137       285           430  ...       0      1      0
38          45         63       199           241  ...       0      0      0
39          46         90       202           296  ...       0      0      0
40          50         95       216           310  ...       0      0      0
41          44         83       165           221  ...       0      0      0
42          37         78       155           253  ...       0      0      0
43          27         52       139           167  ...       0      0      0
44          21         66       227           308  ...       0      3      0
45          44         44       101           139  ...       0      0      0
46          16         66       181           295  ...       0      0      0
47          23         37        62           117  ...       0      0      0
48          24         37        70           115  ...       0      0      0
49          16         62       145           252  ...       0      0      0
50          13         48       121           183  ...       0      0      0
51          14         37       153           184  ...       0      0      1
52          18         33        71           116  ...       0      0      0
53           6         30        97           131  ...       0      0      0
54          14         41        70           182  ...       0      0      0
55          11         19        36            55  ...       0      0      0
56          10         20        38            66  ...       0      0      0
57           8         15        37            57  ...       0      0      0
58           5         18        51            85  ...       0      0      0
59           4         21        34            65  ...       0      0      0
60           0          0         0             0  ...       0      0      0

     T      Debut  Since/LastApp  BestPosition Points_Rank GoalDiffCount  \
0   79 1929-01-01           1929             1         1.0          2807
1   83 1929-01-01           1929             1         2.0          2786
2   56 1929-01-01        2002-03             1         3.0          1225
3   50 1931-01-01        1987-88             1         4.0           929
4   49 1929-01-01           1929             1         5.0           931
5   32 1934-01-01        2001-02             1         6.0           307
6   16 1929-01-01        1994-95             3         7.0          -280
7   19 1929-01-01        2010-11             1         8.0            -2
8   18 1939-01-01        2012-13             2         9.0          -164
9   14 1932-01-01        2015-16             1        10.0          -333
10  12 1941-01-01        2014-15             1        11.0          -136
11  11 1939-01-01        2012-13             4        12.0          -346
12   3 1948-01-01        2013-14             4        13.0          -413
13   5 1929-01-01        2011-12             2        14.0          -525
14   7 1944-01-01        2015-16             2        15.0          -399
15   6 1935-01-01        2016-17             4        16.0          -334
16   2 1949-01-01        2008-09             4        17.0          -342
17  11 1933-01-01        2000-01             3        18.0          -309
18   5 1960-01-01        2012-13             3        19.0          -189
19   5 1951-01-01        2015-16             2        20.0          -399
20   9 1998-01-01        2013-14             2        21.0           103
21   2 1941-01-01        2016-17             6        22.0          -338
22   0 1977-01-01        2015-16             8        23.0          -328
23   2 1959-01-01        2014-15             5        24.0          -272
24   1 2004-01-01        2015-16             6        25.0          -113
25   5 1935-01-01        2010-11             5        26.0          -334
26   2 1961-01-01        2009-10             5        27.0          -125
27   0 1940-01-01        2007-08            11        28.0          -385
28   1 1930-01-01        2016-17             6        29.0          -165
29   1 1963-01-01        2015-16             6        30.0          -202
..  ..        ...            ...           ...         ...           ...
31   2 1943-01-01        1987-88             4        32.0          -228
32   0 1977-01-01        2005-06            12        33.0          -269
33   0 1987-01-01        1996-97             7        34.0          -198
34   3 1941-01-01        1990-91             4        35.0          -169
35   0 1991-01-01        2004-05             7        36.0           -90
36   0 2007-01-01        2014-15             8        37.0          -122
37   1 1962-01-01        2014-15             5        38.0          -145
38   0 1994-01-01        1997-98            10        39.0           -42
39   0 1978-01-01        2008-09             8        40.0           -94
40   0 1971-01-01        1979-80            12        41.0           -94
41   0 1963-01-01        1969-70             7        42.0           -56
42   0 1999-01-01        2008-09            17        43.0           -98
43   0 2014-01-01        2014-15            10        44.0           -28
44   4 1929-01-01        1934-35             3        45.0           -81
45   0 1990-01-01        1992-93             9        46.0           -38
46   0 1947-01-01        2006-07             7        47.0          -114
47   0 1996-01-01        1998-99            17        48.0           -55
48   0 1995-01-01        1997-98            19        49.0           -45
49   0 1945-01-01        1950-51            10        50.0          -107
50   0 1953-01-01        1957-58            14        51.0           -62
51   1 1929-01-01        1931-32             6        52.0           -31
52   0 1979-01-01        1980-81            10        53.0           -45
53   0 1929-01-01        1930-31             8        54.0           -34
54   0 1950-01-01        1993-94            16        55.0          -112
55   0 2016-01-01        2016-17            17        56.0           -19
56   0 2009-01-01        2009-10            20        57.0           -28
57   0 1956-01-01        1956-57            16        58.0           -20
58   0 1951-01-01        1951-52            16        59.0           -34
59   0 1955-01-01        1955-56            15        60.0           -31
60   0 2017-01-01        2017-18             9        61.0             0

    WinningPercent
0        59.630702
1        57.241130
2        47.475134
3        44.557057
4        43.772629
5        41.112957
6        36.100533
7        37.532580
8        35.146022
9        35.069444
10       36.797386
11       34.511190
12       31.582538
13       31.722689
14       32.304527
15       32.321700
16       31.075697
17       34.228188
18       33.704453
19       33.485401
20       41.176471
21       29.380054
22       28.987730
23       29.941003
24       32.236842
25       29.299363
26       31.376518
27       24.744027
28       32.894737
29       28.109453
..             ...
31       30.281690
32       23.214286
33       27.745665
34       30.838323
35       28.148148
36       27.192982
37       29.078014
38       32.500000
39       26.881720
40       28.921569
41       29.444444
42       24.342105
43       30.701754
44       33.076923
45       22.807018
46       29.310345
47       25.000000
48       23.750000
49       27.777778
50       32.222222
51       29.166667
52       25.000000
53       33.333333
54       19.117647
55       21.052632
56       21.052632
57       23.333333
58       23.333333
59       16.666667
60        0.000000

[61 rows x 23 columns]

Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                Points
        1                        25000
        2                        7000

In [51]:
la_df['Points'].groupby(la_df['BestPosition']).sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64